# ilcucss_lrevdsl DHCPD Config File.
# Generated 2011-01-21-11:04 with gendhcpd.pl by bpeterson.

shared-network ilcucss_lrevdsl {
    authoritative;

#  include "/etc/dhcp3/folder.dhcpd/events.dhcpd";

# WANIP for ilcucss_lrevdsl not configured

#dhcpd-snmp=ilcucss_lrevdsl-cust0,66.253.181.69-66.253.181.126
    subnet 66.253.181.64 netmask 255.255.255.192 {
        option routers 66.253.181.65;
        option subnet-mask 255.255.255.192;
        option broadcast-address 66.253.181.127;
        option domain-name "client.pavlovmedia.net";
        option domain-name-servers 66.253.214.16, 50.30.184.16;
        #default-lease-time dTlease0;
        #max-lease-time mdTlease0;
        pool {
            failover peer "NATIONAL";
            deny members of "ruckus";
            deny dynamic bootp clients;
            range 66.253.181.90 66.253.181.119;
        }
  # 
        host 66-253-181-113 {
            hardware ethernet 00:1e:67:a3:68:be;	            
	    fixed-address 66.253.181.113;
	}
  #	Device 1
	host 66-253-181-100 {
	    hardware ethernet 00:1e:67:a3:68:bc;
	    fixed-address 66.253.181.100;
	}
  #	Device 2
	host 66-253-181-101 {
	    hardware ethernet 00:1e:67:a3:68:bd;
	    fixed-address 66.253.181.101;
 	}
  #	Device 3
	host 66-253-181-102 {
	    hardware ethernet 00:1e:67:a3:68:be;
            fixed-address 66.253.181.102;
	}
  #	Device 4
	host 66-253-181-103 {
	    hardware ethernet 00:1e:67:a3:68:bf;
	    fixed-address 66.253.181.103;
        }	

# Tunnel for ilcucss_lrevdsl not configured

  }
}
